[submodule "codegen/aws-sdk-js-v3"]
	path = codegen/aws-sdk-js-v3
	url = https://github.com/aws/aws-sdk-js-v3
[submodule "doc/doxygen-awesome-css"]
	path = doc/doxygen-awesome-css
	url = https://github.com/jothepro/doxygen-awesome-css
