language: cpp

before_install:
  - sudo add-apt-repository --yes ppa:ubuntu-sdk-team/ppa
  - sudo apt-get update -qq
  - sudo apt-get install -qq qt5-qmake qtbase5-dev

before_script:
  - qmake -qt=qt5 -v
  - qmake -qt=qt5

script:
  - make
  - make check
